@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: rgb(51, 96, 90);
    --cor1: rgb(26, 61, 57);
    --cor2: #91a398;
    --cor3: #7d9987;
    --cor4: #e9e0d1;
    --cor5: #68462b;
    --cor6: #382414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
}

form{
    border: var(--cor6) 3px solid;
    border-radius: 5px;
    padding: 10px;
}

.cadastrar{
    background-color: var(--cor6);
    color: white;
    font-size: 15px;
    font-weight: bold;
    width:50%;
    border-radius: 5px;
}

.cadastrar:hover{
    background-color:var(--cor5);
}

