@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: rgb(51, 96, 90);
    --cor1: rgb(26, 61, 57);
    --cor2: #91a398;
    --cor3: #7d9987;
    --cor4: #fdf5e9;
    --cor5: #68462b;
    --cor6: #382414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    margin-bottom: 50px;
}


.icon-button {
    position: relative;
    top: 12px;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    height: 50%;
    border: var(--cor6) 3px solid;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    grid-template-columns: repeat(2, 1fr);
    background-color: white;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-weight: bold;
    font-size: 27px;
    position: relative;
}

.title h2::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 30px;
    background-color: var(--cor6);
    left: 0;
    bottom: 0;
}


.input_container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);

}

.form_label {
    font-size: 15px;
    font-weight: 700;
    color: var(--cor6);

}

.input_field {
    margin-top: 8px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.452);

}

.form-control {

    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--cor4);
}

.form-control:focus {
    outline: none;

}

.input_box .input_field:focus-within {
    outline: 2px solid var(--cor5);

}






.salvar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 18px;
    background-color: var(--cor6);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    width: auto;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 3px 7px -3px rgb(0, 0, 0);
    transition: 0.3s ease;

}

.cancelar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 18px;
    background-color: var(--cor6);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    width: auto;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 3px 7px -3px rgb(0, 0, 0);
    transition: 0.3s ease;

}

.salvar:hover {
    background-color: var(--cor5);
    transform: scale(0.9);
}

.cancelar:hover {
    background-color: var(--cor5);
    transform: scale(0.9);
}

.botoes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
