@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: rgb(51, 96, 90);
    --cor1: rgb(26, 61, 57);
    --cor2: #91a398;
    --cor3: #7d9987;
    --cor4: #e9e0d1;
    --cor5: #68462b;
    --cor6: #382414;
    --fonte0: arial, verdana, helvetica, sans-serif;
    --fonte1: 'bebas neue', cursive;
    --fonte2: 'Android', cursive;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452)), url('imagens/biblioteca.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
}

.forms {
    padding-top: 10px;
    display: flex;
    gap: 15px;
    list-style: none;
}

.forms a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}




.titulo {

    font-family: var(--fonte0);
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 15%;
    color: white;
    text-align: center;
}


main {
    top: 100%;
    left: 10%;
    position: absolute;
}



.generos h2,
h3 {
    color: rgb(70, 43, 22);
}

.containergeneros {
    display: flex;
    gap: 25px;
    overflow-x: hidden;
    left: 5%;
    position: relative;
    width: 100%;
}

.cards {
    font-weight: bolder;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
    height: 150px;
}

.containerbooks {

    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    overflow-x: hidden;
    left: 5%;
    position: relative;
    width: 100%;
}

.livros h2,
h3 {
    color: rgb(70, 44, 24);
}



.book {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.book img {
    width: 100px;
    height: 150px;
}



aside h2 {
    left: 20%;
    position: relative;
}

.feedback {
    background-color: #e9e0d1;
    color: #68462b;
    overflow-x: hidden;
    border-radius: 5px;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 220%;
}

.containerfeed {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    left: 10%;
    position: relative;
    width: 100%;
}

.feed {
    background-color: white;
    font-weight: bolder;
    color: #68462b;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 200px;
}

@media (max-width:1000px){
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
    
    header {
        width: 100%;
        height: 100%;
        
        background-size: cover;
        background-position: center;
        position: absolute;
    }
    
    .forms {
        padding-top: 10px;
        display: flex;
        gap: 15px;
        list-style: none;
    }
    
    .forms a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    
    
    
    
    .titulo {
    
        font-family: var(--fonte0);
        font-size: 25px;
        position: absolute;
        top: 45%;
        left: 15%;
        color: white;
        text-align: center;
    }
    
    
    main {
        top: 100%;
        left: 10%;
        position: absolute;
    }
    
    
    
    .generos h2,
    h3 {
        color: rgb(70, 43, 22);
    }
    
    .containergeneros {
        display: flex;
        gap: 25px;
        overflow-x: hidden;
        left: 5%;
        position: relative;
        width: 100%;
    }
    
    .cards {
        font-weight: bolder;
        color: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 150px;
        height: 150px;
    }
    
    .containerbooks {
    
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        justify-content: center;
        overflow-x: hidden;
        left: 5%;
        position: relative;
        width: 100%;
    }
    
    .livros h2,
    h3 {
        color: rgb(70, 44, 24);
    }
    
    
    
    .book {
        background: white;
        color: black;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 200px;
    }
    
    .book img {
        width: 100px;
        height: 150px;
    }
    
    
    
    aside h2 {
        left: 20%;
        position: relative;
    }
    
    .feedback {
        background-color: #e9e0d1;
        color: #68462b;
        overflow-x: hidden;
        border-radius: 5px;
        width: 100%;
        height: 60%;
        position: absolute;
        top: 220%;
    }
    
    .containerfeed {
        display: flex;
        gap: 25px;
        overflow-x: auto;
        left: 10%;
        position: relative;
        width: 100%;
    }
    
    .feed {
        background-color: white;
        font-weight: bolder;
        color: #68462b;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 300px;
        height: 200px;
    }
}

@media (max-width:500px){
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
    
    header {
        width: 100%;
        height: 100%;
        
        background-size: cover;
        background-position: center;
        position: absolute;
    }
    
    .forms {
        padding-top: 10px;
        display: flex;
        gap: 15px;
        list-style: none;
    }
    
    .forms a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    
    
    
    
    .titulo {
    
        font-family: var(--fonte0);
        font-size: 25px;
        position: absolute;
        top: 45%;
        left: 15%;
        color: white;
        text-align: center;
    }
    
    
    main {
        top: 100%;
        left: 10%;
        position: absolute;
    }
    
    
    
    .generos h2,
    h3 {
        color: rgb(70, 43, 22);
    }
    
    .containergeneros {
        display: flex;
        gap: 25px;
        overflow-x: hidden;
        left: 5%;
        position: relative;
        width: 100%;
    }
    
    .cards {
        font-weight: bolder;
        color: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 150px;
        height: 150px;
    }
    
    .containerbooks {
    
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        justify-content: center;
        overflow-x: hidden;
        left: 5%;
        position: relative;
        width: 100%;
    }
    
    .livros h2,
    h3 {
        color: rgb(70, 44, 24);
    }
    
    
    
    .book {
        background: white;
        color: black;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 200px;
    }
    
    .book img {
        width: 100px;
        height: 150px;
    }
    
    
    
    aside h2 {
        left: 20%;
        position: relative;
    }
    
    .feedback {
        background-color: #e9e0d1;
        color: #68462b;
        overflow-x: hidden;
        border-radius: 5px;
        width: 100%;
        height: 60%;
        position: absolute;
        top: 220%;
    }
    
    .containerfeed {
        display: flex;
        gap: 25px;
        overflow-x: auto;
        left: 10%;
        position: relative;
        width: 100%;
    }
    
    .feed {
        background-color: white;
        font-weight: bolder;
        color: #68462b;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 300px;
        height: 200px;
    }
}