.forms {
    padding-top: 10px;
    display: flex;
    gap: 15px;
}

.forms a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar {
    display: flex;
    border-radius: 10px;
    width: 80%;
    background: #e9e0d1;
    padding: 15px;
    position: absolute;
    left: 10%;
    top: 8%;
    gap: 15px;
}

.links {
    list-style: none;
    display: flex;
    gap: 15px;

}

.links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container-input {
    position: relative;
    left: 20%;
    margin-top: 9px;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #e9e0d1;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 45%;
    left: 15px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

.icones {
    display: flex;
    gap: 1px;
    position: absolute;
    left: 75%;
}

button {
    background-color: #e9e0d1;
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border: #e9e0d1;
    left: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    gap: 15px;


}

button svg {
    color: black;
    width: auto;
    height: 30px;

}

button svg:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.menu {
    display: none;
    cursor: pointer;
}

.menu div {
    background: black;
    width: 30px;
    height: 3px;
    margin: 5px;
    transition: 0.5s;

}


@media (max-width:1524px) {
    .container-input {
        position: relative;
        left: 5%;
        margin-top: 9px;
    }

    .input:focus {
        opacity: 1;
        width: 150px;
    }

    button {
        background-color: #e9e0d1;
        position: relative;
        list-style: none;
        width: 60px;
        height: 60px;
        border: #e9e0d1;
        left: 10%;
        cursor: pointer;
        display: flex;

        transition: 0.5s;
        gap: 15px;
    }


}

@media (max-width:1000px) {

    .navbar {
        display: flex;
        border-radius: 10px;
        width: 90%;
        background: #e9e0d1;
        padding: 5px;
        position: absolute;
        left: 5%;
        top: 10%;
        gap: 5px;
    }

    .links {
        position: relative;
        list-style: none;
        display: flex;
        gap: 5px;
        left: -4%;

    }

    .container-input {
        position: relative;
        left: -2%;
        margin-top: 7px;

    }

    .input {
        width: 75px;
    }





    .icones {
        position: absolute;
        padding-top: 5px;
        top: 6vh;
        right: 1%;
        width: 15vw;
        height: 20vh;
        background-color: #e9e0d1;
        flex-direction: column;


    }
}
