body {
    margin: 0;
    font-family: Arial, sans-serif;

    color: white;
}

header {
    background-color: #33605a;
    height: 70%;
    width: 100%;
    position: absolute;
}

.forms {
    list-style: none;
    display: flex;
    gap: 15px;
}

.forms a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar {

    display: flex;
    border-radius: 10px;
    width: 80%;
    background: #e9e0d1;
    padding: 15px;
    position: absolute;
    left: 10%;
    top: 10%;
    gap: 100px;

}

.links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container-input {
    position: relative;
    left: 30%;
    margin-top: 9px;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #e9e0d1;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 35%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

.icones {
    display: flex;
    gap: 1px;
    position: relative;
    left: 30%;
}

button {
    background-color: #e9e0d1;
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border: #e9e0d1;
    left: 25%;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    gap: 100px;


}

button svg {
    color: black;
    width: auto;
    height: 30px;

}

button svg:hover {
    transition: 0.5s;
    transform: scale(1.1);
}


.titulo {
    max-width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 10%;
    padding-top: 100px;
}

.btn {
    background: #808080;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

main {
    top: 80%;
    left: 10%;
    position: absolute;
}



.generos h2,
h3 {
    color: rgb(70, 43, 22);
}

.containergeneros {
    display: flex;
    gap: 25px;
    overflow-x: hidden;
    left: 5%;
    position: relative;
    width: 100%;
}

.cards {
    font-weight: bolder;
    color: white;

    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
    height: 150px;
}

.containerbooks {

    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    overflow-x: hidden;
    left: 5%;
    position: relative;
    width: 100%;
}

.livros h2,
h3 {
    color: rgb(70, 44, 24);
}



.book {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.book img {
    width: 100px;
    height: 150px;
}

.book button {
    margin-top: 10px;
    background: #808080;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

aside h2 {
    left: 20%;
    position: relative;
}

.feedback {
    background-color: #e9e0d1;
    color: #68462b;
    overflow-x: hidden;
    border-radius: 5px;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 220%;
}

.containerfeed {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    left: 10%;
    position: relative;
    width: 100%;
}

.feed {
    background-color: white;
    font-weight: bolder;
    color: #68462b;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 200px;
}


.footer {
    background-color: #2D4F47;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    top: 300%;
    width: 100%;
}

.footer div {
    max-width: 250px;
}

.footer h3 {
    color: white;
    margin-bottom: 15px;
    font-size: 16px;
}

.footer p,
.footer a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}
